Flask==2.2.2
Keras==2.8.0  # Updated to a compatible version
numpy==1.26.2
pandas==1.3.3  # Updated to a compatible version
scikit-learn==0.24.2  # Updated to a compatible version
tensorflow==2.8.0  # Updated to a compatible version
gunicorn==21.0.1
Werkzeug==2.2.2
