<!DOCTYPE html>
<html>

<head>
    <title>
        Translator
    </title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <table>
        <!-- nav bar -->
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/about">About</a></td>
            <td><a href="/team">Team</a></td>
        </tr>
    </table>
    <!-- About Page -->
    <h1>About</h1>
    <p>This is a simple translator app that translates from English to Spanish.</p>
    <p>It uses the Google Translate API to do the translation.</p>
    <p>It is written in Python using the Flask web framework.</p>
    <p>It is deployed on Heroku.</p>
    <p>GitHub repository:<a href="https://github.com/tripham97/ML-4375-Deployment.git">
    Here</a></p>
    <p>Heroku app:<a href="https://tranlator-ml4375.herokuapp.com/">
    Here</a></p>
</body>

</html>