<!DOCTYPE html>
<html>

<head>
    <title>
        Translator
    </title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <table>
        <!-- nav bar -->
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/about">About</a></td>
            <td><a href="/team">Team</a></td> 
        </tr>
    </table>
    <!-- Team Page -->
    <h1>Team</h1>
    <p>Team members:</p>
    <ul>
        <li>Tri Pham - lxp220007</li>
        <li>Ngoc L Tran - nlt210000</li>
        <li>Joseph Ramos - JGR190002</li>
        <li>Huy Tran - hxt200010</li>
    </ul>
    <p>GitHub repository:<a href="https://github.com/tripham97/ML-4375-Deployment.git">
        Here</a></p>
    <p>Render app:<a href="https://tranlator-ml4375.herokuapp.com/">
        Here</a></p>




    
</body>

</html>
